

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('background.jpg') %>)">

  <div class="container text-center">

    <h1> Cocktails </h1>
    <!-- Large modal -->
    <button class="btn-lg btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">See our list!</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">



          <!-- Wrapper for slides -->

          <div class="carousel-inner">
            <% @cocktails.each_with_index do |cocktail, index| %>
              <div class="item <%= index == 0 ? 'active' : ''%>">
               <img class="img-responsive" src="http://placehold.it/1200x600/555/000&text=One" alt="...">
                <div class="carousel-caption carousel-text">
                  <%= cocktail.name %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

