<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/restaurants" class="navbar-wagon-brand">
    <%= image_tag("cocktail") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right navbar-wagon-brand">
    <%= image_tag("search") %>
  </div>
</div>
